<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI diabetes prediction</title>

    <!-- Link To CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style_d.css')}}"/>
</head>

    <!-- Main -->
    <section id="main" style="background-image: linear-gradient(to right,white, #9070f4">
        <!-- Glass Box -->
        <div class="main-box">



<form action="/diabetes_predict" method="post"  enctype="multipart/form-data"  onsubmit="showloading()" >

<center>
<img src="{{url_for('static',filename='Telehealth.gif')}}" width="400"/>
<p >Pregnancies</p><input type="range" name="Pregnancies" min="0" max="10" value="0" step="1" onchange="showValue1(this.value)" />
<span id="range1">0</span>
<script type="text/javascript">
function showValue1(newValue)
{
	document.getElementById("range1").innerHTML=newValue;
}
</script>

<br><br>

<p >Glucose</p><input type="range" name="Glucose" min="0" max="200" value="0" step="1" onchange="showValue2(this.value)" />
<span id="range2">0</span>
<script type="text/javascript">
function showValue2(newValue)
{
	document.getElementById("range2").innerHTML=newValue;
}
</script>


<br><br>

<p >BloodPressure</p><input type="range" name="BloodPressure" min="0" max="150" value="0" step="1" onchange="showValue3(this.value)" />
<span id="range3">0</span>
<script type="text/javascript">
function showValue3(newValue)
{
	document.getElementById("range3").innerHTML=newValue;
}
</script>


<br><br>

<p >SkinThickness</p><input type="range" name="SkinThickness" min="0" max="50" value="0" step="1" onchange="showValue4(this.value)" />
<span id="range4">0</span>
<script type="text/javascript">
function showValue4(newValue)
{
	document.getElementById("range4").innerHTML=newValue;
}
</script>
<br><br>

<p >Insulin</p><input type="range" name="Insulin" min="0" max="1000" value="0" step="1" onchange="showValue5(this.value)" />
<span id="range5">0</span>
<script type="text/javascript">
function showValue5(newValue)
{
	document.getElementById("range5").innerHTML=newValue;
}
</script>


<br><br>

<p >BMI</p><input type="range" name="BMI" min="0" max="50" value="0" step="0.1" onchange="showValue6(this.value)" />
<span id="range6">0</span>
<script type="text/javascript">
function showValue6(newValue)
{
	document.getElementById("range6").innerHTML=newValue;
}
</script>

<br><br>

<p >DiabetesPedigreeFunction</p><input type="range" name="DiabetesPedigreeFunction" min="0" max="50" value="0" step="0.1" onchange="showValue7(this.value)" />
<span id="range7">0</span>
<script type="text/javascript">
function showValue7(newValue)
{
	document.getElementById("range7").innerHTML=newValue;
}
</script>

<br><br>

<p >Age</p><input type="range" name="Age" min="0" max="150" value="0" step="1" onchange="showValue8(this.value)" />
<span id="range8">0</span>
<script type="text/javascript">
function showValue8(newValue)
{
	document.getElementById("range8").innerHTML=newValue;
}
</script>


<br>
<input type="submit"  value="predict result" class="btn1">


</form>


<form action="/index" method="post"  enctype="multipart/form-data"  onsubmit="showloading()" >
<br>
<input type="submit"  value="back to chatbot" class="btn1">
</form>


























               
        </div>
    </section>
    <!-- circles -->
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>
</html>